*{
  list-style: none;
  border: 0;
  padding: 0;
  margin: 0;
}

#main-container{
  display: flex;
  text-align: center;
}


.container{
  border-left: 1px solid black;
  height: 100vh;
  flex-grow: 1;
  transition: 1s;
}


.sub-text{
  height: 33vh;
  color: white;
  text-shadow: 3px 3px 10px black;
  line-height: 30vh;
  font-size: 35px;
  
}

/* Dynamically added classes */
.main-text{
  font-size: 55px;
  transition: 1s;
}

.container-two{
  flex-grow: 4;
}

#cont1{
  background: url('./media-files/one-bolivia-salt-flats.jpg')no-repeat center center;
  background-size: auto;
  /* flex-grow: 3; */
}

#cont2{
  background: url('./media-files/two-chiang-mai.jpg')no-repeat center center;
  background-size: auto;
}

#cont3{
  background: url('./media-files/three-friends.jpg')no-repeat center center;
  background-size: auto;
}

#cont4{
  background: url('./media-files/four-Keukenhof.jpg')no-repeat center center;
  background-size: auto;
}

#cont5{
  background: url('./media-files/five-arches.jpg')no-repeat center center;
  background-size: auto;
  flex-grow: 1;
}
