*{
  list-style: none;
  border: 0;
  padding: 0;
  margin: 0;
}

#main-container{
  display: flex;
  border: 2px solid orange;

}


.container{
  border: 2px solid black;
  height: 100vh;
  flex-grow: 1;
}

#cont2{
  /* width: 10vw; */
  flex-grow: 3;
}

#cont3{

}
